@import url('../palette.css');

.Header {
    position: relative;
    background-color: var(--color1);
    color: var(--color6);
    min-height: 50px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    padding-top: 0px;
    top: 0;
}
.Header .main-text {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    font-size: calc(10px + 4vmin);
    margin: 0;
    padding: 25px;
}
.headerdiv {
    position: relative;
    margin-top: 0;
}