@import url('../palette.css');
.footer {
    background-color: var(--color1);
    min-height: 75px;
    padding-bottom: 25px;
}
footer {
    position: relative;
    margin-top: 20vh;
}
.Footer-Text {
    display: flex;
    justify-Content: center;
    font-size: calc(10px + 2vmin);
    padding: 20px;
    margin: 0;
}
.Footer-Links {
    display: flex;
    justify-content: space-evenly;
    font-size: calc(10px + 5vmin);
    word-spacing: 25px;
    flex-direction: row;
}
.Footer-Links a{
    color: var(--color7);
    transition: color .5s;
}
.Footer-Links a:hover{
    color: var(--color2);
}