@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  font-family: 'Nunito';
  font-weight: 200;
  margin: 0;
  background-color: #8E9779;
  background-image: linear-gradient(43deg, #72806A 0%, #8E9779 46%, #9FAE81 100%);
  color: #F5F5F5;
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #55695A;*/
  overflow-x: hidden;
}
* {
  font-family: 'Nunito';
  font-weight: 200;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 200vh;
}

.filter {
  -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
  backdrop-filter: blur(10px); /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.3);
}
.filter:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}

.button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 15px;
  font-size: 13px;
  height: 30px;
  background-color: #72806A;
  color: #F5F5F5;
  padding: 0 20px;
  transition: background-color .3s;

}
.button:hover {
  background-color: #9FAE81;
}
.button:active {
  background-color: #55695A;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  display: none;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(188, 204, 165);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #abb996; 
}

.container{
  margin-left: 175px;
}

@media screen and (max-width: 600px){
  .container{ margin-left: 25px }
}
