.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error-icon{
  animation: error-animation 2s infinite;
  color: #e66363;
}

@keyframes error-animation {
  0% {
    color: #f88b8b;
  }
  50% {
    color: #e25d5d;
  }
  100% {
    color: #f88b8b;
  }
}